{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %} {{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        Categories
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <li>
            <a class="dropdown-item" href="{% url "shop:product_list" %}">All</a>
        </li>
        {% for c in categories %}
        <li><a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="main" class="product-list mt-4 text-left">
        <h1>{% if category %}{{ category.name }}{% else %} Products {% endif %}</h1>
{#        {% for product in products %}#}
{#            <div class="item">#}
{#                <a href="{{ product.get_absolute_url }}">#}
{#                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">#}
{#                </a>#}
{#                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>#}
{#                <br>#}
{#                ${{ product.price }}#}
{#            </div>#}
{#        {% endfor %}#}
        <div class="row row-cols-1 row-cols-md-4 g-2">
            {% for product in products %}
            <div class="col">
                <div class="card hoverable h-100" style="width: auto;">
                  <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top embed-responsive-item" style="width: 100%; height: 35vh; object-fit: cover"/>
                    <a href="{{ product.get_absolute_url }}">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
                    <p class="card-text">{{ product.price }}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
